html,
body {
 background-color: #EFF4FA;
 height: 100%;
 font-family: Lato;
}

.nav-header {
 display: flex;
 background-color: #FFF;
 height: 82px;
 padding-right: 36.5px;
}

.nav-header .right-area {
 margin-left: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.nav-toggle {
 display: flex;
 background: #2D74DA;
 width: 83px;
 cursor: pointer;
}

.nav-toggle img {
 margin: auto;
}

.feedback {
 display: flex;
 justify-content: center;
 align-items: center;
 background: #79A6F6;
 width: 140px;
 color: #FFF;
}

.btn {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 41px;
 min-width: 96.64px;
 background: #FFFFFF;
 border: 1px solid;
 font-family: Lato;
 font-style: normal;
 font-weight: 900;
 line-height: normal;
 font-size: 11px;
 border-radius: 3px;
}

.btn.secondary-btn {
 border-color: #2D74DA;
 color: #2D74DA;
}

.btn.primary-btn {
 background: #2D74DA;
 color: #FFF;
}

.invite-btn {
 margin-right: 20.36px;
}

.create-new-btn {
 margin-right: 43px;
 width: 132px;
 height: 41px;
}

.user-info {
 text-align: right;
 margin-right: 12px;
}

.user-info .name {
 font-size: 12px;
}

.user-info .role {
 font-size: 9px;
 color: #2D74DA;
}

.notification-icon {
 margin-right: 23px;
}

.avatar {
 margin-right: 11.5px;
}

.menu-nav {
 background: #FDFEFE;
 box-shadow: 1px 2px 10px #D9E4EC;
 width: 223px;
 padding-top: 10px;
}

.menu-nav ul {
 list-style: none;
 padding: 0;
 margin: 0;
 font-size: 16px;
 color: #8CA0B3;

}

.menu-nav img {
 margin-right: 17px;
}

.menu-nav li {
 display: flex;
 align-content: center;
 padding: 24px 0;
 padding-left: 34px;
 width: 100%;
 box-sizing: border-box;
 cursor: pointer;
}

.menu-nav .active {
 border-left: 6px solid #2D74DA;
}

.content-area {
 width: 78%;
 padding: 17px 30px;
}

.content-card {
 width: 100%;
 display: flex;
 flex-direction: column;
 height: 800px;
 text-align: center;
 background: #FFFFFF;
 box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);
 border-radius: 6px;
}

.page-area {
 display: flex;
}

.main-info {
 margin: 0;
 padding-top: 95px;
 margin-bottom: 72px;
 font-size: 30px;
 text-align: center;
 color: #2D74DA;
}

.green-btn {
 margin-right: 114px;
 background: #27AE60;
 border: 0;
 color: #FFF;
}

.content-btns {
 display: flex;
 margin: 0 auto;
 margin-top: 80px;
}

.colab-info {
 margin-top: 65px;
 color:  #8CA0B3;
 font-size: 18px;
 line-height: 22px;
}

.main-buttons {
  width: 132px;
  height: 41px;
}

/* Feedback modal */
.modal-parent {
  max-width: 100%;
}

#content {
  width: 700px;
  height: 450px;
  margin: 80px auto;
}

#modal-body {
  padding: 44px 86px 46px 79px;
  position: relative;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #2D74DA;
  margin-bottom: 25px;
}

#modalContent {
  margin-left: 6px;
  margin-bottom: 60px;
  border-radius: 4px;
  border-color: #8CA0B3;
}

#modalContent::placeholder {
  font-size: 12px;
  line-height: 14px;
  color: #8CA0B3;
  padding: 20px 227px 163px 16px;
}

.action-buttons {
  text-align: center;
  /* margin-bottom: 46px; */
  margin-top: -7px;
}

#saveButton {
  background-color: #2D74DA;
  color: #FFFFFF;
  width: 142px;
  height: 41px;
  font-size: 11.63px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 14px;
  Opacity: 95.62%;
}

#closeModal {
  color: #8CA0B3;
  opacity: 95.62%;
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  line-height: 14px;
  font-size: 11.63px;
  margin-right: 20px;
}

.logo {
  position: absolute;
  top: 375px;
  right: 10px;
}

/* Cancel modal */
#cancelModalContent {
  width: 576px;
  height: 225px;
  margin: 200px auto;
  border-radius: 4px;
}

#cancelText {
  padding: 58px 116px 43px 123px;
  font-size: 24px;
  line-height: 29px;
  color: #31393C;
  margin-bottom: 0px;
}

.cancel-action-buttons {
  margin-left: 185px;
}

#yesButton {
  width: 97px;
  height: 41px;
  background: #2D74DA;
  border-radius: 3px;
  font-size: 11.63px;
  line-height: 14px;
  opacity: 95.62%;
  color: #FFFFFF;
  margin-right: 13px;
  cursor: pointer;
}

#noButton {
  width: 97px;
  height: 41px;
  background: #F56A6A;
  border-radius: 3px;
  font-size: 11.63px;
  line-height: 14px;
  opacity: 95.62%;
  color: #FFFFFF;
  margin-right: 13px;
  cursor: pointer;
}

.loader {
  margin: auto;
  border: 4px solid white;
  border-radius: 50%;
  border-top: 4px solid #2D74DA;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}